/* BeautifulTable.css */
.modal{
  text-align: center;
}
.print{
  padding:20px;
  background-color: #f4ebeb;
  box-shadow: 1px 1px 2px #d3d3d3;
}
.table-container {
    margin: 20px auto;
    max-width: 800px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 12px;
    text-align: left;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
  }
  
  .custom-table tbody tr:nth-child(odd) {
    background-color: #fafafa;
  }
  
  .tag {
    display: inline-block;
    padding: 4px 8px;
    background-color: #e0e0e0;
    color: #333;
    border-radius: 4px;
    margin-right: 4px;
  }
  
  .action-link {
    color: #1890ff;
    margin-right: 8px;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .action-link:hover {
    color: #40a9ff;
  }
  
  .actionEye{
    cursor: pointer;
  }

  /* table */

  /* Styles for the table */
table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px;
}

thead {
  background-color: #f9f9f9;
}

th {
  text-align: center;
  background-color: #f2f2f2;
}

/* Alternating row colors */
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover effect on rows */
tbody tr:hover {
  background-color: #f2f2f2;
}

/* Add some spacing between table cells */
td + td {
  padding-left: 20px;
}

/* Add a border between table cells */
td {
  border-bottom: 1px solid #f2f2f2;
}

/* Apply some font styling */
th, td {
  font-weight: 400;
  font-size: 14px;
}

/* Center text in the first column (Name) */
td:first-child {
  text-align: center;
}

.totalPrice{
  font-size: 1.25rem;
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 10px;
  font-weight: 800;
}
